<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
    <title>Study Bud</title>
</head>
<body>
    {% include 'navbar.html' %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <img style="height: 200px; width: 200px;" src="{% static 'images/animeimage.jpg' %}" alt="">

    {% block content %}


    {% endblock %}

</body>
</html>
